{% extends 'base.html' %}
{% block title %} Notice {% endblock title %} 
{% block headtitle %}Notice{% endblock headtitle %}
{% block content %}
<!--bootstrap-->
<style>
.pagination {
    list-style-type : none;
    padding:0;
    margin :0 auto;
    text-align:center;
}
.pagination > li{
    display : inline;
}
</style>
<div class="wrapper">
    <div class="container" id="main">

        <!-- Content -->
            <article id="content" >
                <header>
                    
                        <table class= "table table-striped" style="font-size:10px;text-align:center; ">
                            <thead style="border-bottom: 1px solid gray;border-top: 1px solid gray">
                                <tr>
                                    <th width= 3%></th>
                                    <th width = 50%>제목</th>
                                    <th width = 14%>작성일</th>
                                    <th width = 14%>작성자</th>
                                    <th width= 12%>조회수</th>
                                    <th width = 7%>첨부</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notice in notice_list %}
                                <tr>
                                    <td>{{notice.number}}</td>
                                    <td>{{notice.title}}</td>
                                    <td>{{notice.date}}</td>
                                    <td>{{notice.writer}}</td>
                                    <td>{{notice.view}}</td>
                                    <td>{{notice.file}}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    <ul class="pagination">
                        <li><a href="#">&lt;</a></a></li>
                        <li><a href="#">1</a></a></li>
                        <li><a href="#">2</a></a></li>
                        <li><a href="#">3</a></a></li>
                        <li><a href="#">4</a></a></li>
                        <li><a href="#">5</a></a></li>
                        <li><a href="#">&gt;</a></a></li>
                    </ul> 
                    
    </div>
</div>
{% endblock content %}