{% extends 'base.html' %} 
{% load static %}
{% block title %} Photo {% endblock title %}
{% block headtitle %} Photo {% endblock headtitle %}
{% block content %}
<div class="wrapper">
	<main class="container">
		<section class="photo-container">
			<figure>
				<img src="{% static 'images/professorK.jpg' %}" alt="테스트용 사진" height="300px" title="어디에 무엇하러 간 사진">
				<figcaption>
					<div>어디어디서 무엇무엇하는 사진</div>
					<div>몇년 몇월 몇일</div>
				</figcaption>
			</figure>
			<figure>
				<img src="{% static 'images/professorK.jpg' %}" alt="테스트용 사진" height="300px" title="어디에 무엇하러 간 사진">
				<figcaption>
					<div>어디어디서 무엇무엇하는 사진</div>
					<div>몇년 몇월 몇일</div>
				</figcaption>
			</figure>
			<figure>
				<img src="{% static 'images/professorK.jpg' %}" alt="테스트용 사진" height="300px" title="어디에 무엇하러 간 사진">
				<figcaption>
					<div>어디어디서 무엇무엇하는 사진</div>
					<div>몇년 몇월 몇일</div>
				</figcaption>
			</figure>
		</section>
	</main>
</div>
{% endblock content %}
